/* styles for the portfolio home page  */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oswald&display=swap');


/* background-color: rgb(38, 21, 147); */

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Caveat Brush', cursive;
    margin: 0;
    padding: 0;
}

/* navigation-bar */
ul {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

li {
    float: right;
}

li a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0px 10px;
    padding: 20px 20px;
    color: red;
}

li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

#grad {
    background-color: rgb(40, 33, 34);
}



/* form-container  */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.form-section {
    width: 400px;
    margin: 0px 20px;
    border-radius: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Oswald', sans-serif;
  }
  
  input[type=submit] {
    background-color: #11cdd4;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif; 
  }
  
  input[type=submit]:hover {
    background-color: #3cb0fd;
  }








/* footer  */
 footer {
  text-align: center;
  margin-top: 100px;
  padding: 20px 100px;
  background-color: rgb(40, 33, 34);
  color: red;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}




  /* icon  */
  .icon {
    display: inline-block;
    padding: 20px;
    color: #3cb0fd;
  }

  .footer-icon {
    color: red;
    padding: 10px;
  }

