/* styles for the portfolio home page  */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oswald&display=swap');

body {
    font-family: 'Caveat Brush', cursive;
    margin: 0;
    padding: 0;
}

/* navigation-bar */
ul {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

li {
    float: right;
}

li a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0px 10px;
    padding: 20px 20px;
    color: #111;
}

#grad {
    background-image: linear-gradient(to right, rgba(255,0,0,0.2), rgba(255,0,0,1));
}
