/* styles for the portfolio home page  */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oswald&display=swap');

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

body {
    font-family: 'Caveat Brush', cursive;
    margin: 0;
    padding: 0;
}

/* navigation-bar */
ul {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

li {
    float: right;
}

li a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0px 10px;
    padding: 20px 20px;
    color: #111;
}

li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

#grad {
    background-image: linear-gradient(to right, rgba(255,0,0,0.2), rgba(255,0,0,1));
}




/* top-container */

.top-container {
    display: flex;
    padding: 100px;
    /* grid-template-columns: auto auto; */
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.tcc1 {
    padding: 20px;
    min-width: 500px;
}

.btn-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tcc2 {
    padding: 20px;
    min-width: 500px;
}



.software-engineer {
    background-color: lightpink;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    color: red;
    padding: 20px;
    margin-bottom: 20px;
    /* margin-left: auto;
    margin-right: auto; */
}

#profile-image {
    width: 300px;
}


/* middle1-container */

.middle1-container {
    position: relative;
    background-color: #3cb0fd;
    text-align: center;
    /* color: white; */
}

.about-me {
    font-family: 'Oswald', sans-serif;
    /* text-align: justify; */
    color: #111;
    width: 450px;
    margin: auto;
}

.custom-shape-divider-top-1669295804 {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1669295804 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1669295804 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1669295410 {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669295410 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1669295410 .shape-fill {
    fill: #FFFFFF;
}





/* middle2 container  */
.middle2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.skill-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    border: 2px solid black;
    border-radius: 5px;
    gap: 10px;

}


/* form-container  */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.form-section {
    width: 400px;
    margin: 0px 20px;
    border-radius: 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Oswald', sans-serif;
  }
  
  input[type=submit] {
    background-color: #11cdd4;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif; 
  }
  
  input[type=submit]:hover {
    background-color: #3cb0fd;
  }








/* footer  */
.footer {
    margin-top: 100px;
    padding: 100px;
    background-color: #11cdd4;
}








/* button - font-awesome */
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: -moz-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: -ms-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: -o-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: linear-gradient(to bottom, #11cdd4, #2bc4ad);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Caveat Brush', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }



  /* icon  */
  .icon {
    /* margin: ; */
    display: inline-block;
    padding: 20px;
    color: #3cb0fd;
  }
