/* styles for the portfolio home page  */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oswald&display=swap');

body {
    font-family: 'Caveat Brush', cursive;
    margin: 0;
    padding: 0;
}

/* navigation-bar */
ul {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

li {
    float: right;
}

li a{
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0px 10px;
    padding: 20px 20px;
    color: #111;
}

li a:hover:not(.active) {
    background-color: #111;
    color: white;
}

#grad {
    background-image: linear-gradient(to right, rgba(255,0,0,0.2), rgba(255,0,0,1));
}




/* top-container */

.top-container {
    display: flex;
    padding: 100px;
    /* grid-template-columns: auto auto; */
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.tcc1 {
    padding: 20px;
    min-width: 500px;
}

.btn-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tcc2 {
    padding: 20px;
    min-width: 500px;
}



.software-engineer {
    background-color: lightpink;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    color: red;
    padding: 20px;
    margin-bottom: 20px;
    /* margin-left: auto;
    margin-right: auto; */
}

#profile-image {
    width: 300px;
}


/* middle-container */

.middle-container {
    border-radius: 0px 100px 0px 100px;
    background-color: #3cb0fd;
    text-align: center;
    padding: 20px 0px;
    /* color: white; */
}

.about-me {
    font-family: 'Oswald', sans-serif;
    /* text-align: justify; */
    color: #111;
    width: 450px;
    margin: auto;
}









.skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    
    width: 300px;
    height: 200px;
}





/* footer  */
.footer {
    margin-top: 100px;
    background-color: #11cdd4;
    padding: 100px;
    text-align: center;
}








/* button - font-awesome */
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: -moz-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: -ms-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: -o-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: linear-gradient(to bottom, #11cdd4, #2bc4ad);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Caveat Brush', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


  /* icon  */
  .icon {
    /* margin: ; */
    display: inline-block;
    padding: 20px;
    color: #3cb0fd;
  }
