@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Comfortaa&family=Oswald&display=swap');

body {
    padding: 0;
    margin: 0;

    font-family: 'Caveat Brush', cursive;

    background-image: url(/images/day/clear.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Comfortaa', cursive;
}


/* properties of navigation bar  */

.navigation-bar {
    margin: 0;
    padding: 0px 0px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(215, 226, 226, 0.5);
}

.navigation-bar .left {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    color: white;    
}

#logo {
    font-family: 'Caveat Brush', cursive;
    font-size: 30px;
    color: white;
}

.navigation-bar .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}



/* body */

.information-container {
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* information-container left  */
.information-container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    min-width: 500px;
    margin: auto;
}

.information-container .left .part2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.information-container .left .part3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}


/* information-container right  */

.information-container .right {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    margin: auto;
}

.information-container .right .part1 .location {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    font-family: 'Caveat Brush', cursive;
}

.information-container .right .part2 .details {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
    font-family: 'Caveat Brush', cursive;
}











/* search bar properties */
input[type=text] {
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Comfortaa', cursive;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: -moz-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: -ms-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: -o-linear-gradient(top, #11cdd4, #2bc4ad);
    background-image: linear-gradient(to bottom, #11cdd4, #2bc4ad);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    border: 0px;
    /* border-color: #2bc4ad; */
    font-family: 'Caveat Brush', cursive;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}
  
.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}